<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Veículos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/listadeveiculos.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='img/imglogo.png') }}" class="logo" alt="Logo">
    <h1>Lista de Veículos</h1><a href="/home" class="voltar">Voltar para Home</a>
  </header>
    <div>
      
    </div>
  <p>
    {% with mensagens = get_flashed_messages(with_categories=true) %}
      {% if mensagens %}
        {% for categoria, msg in mensagens %}
          <div class="flash {{ categoria }}">{{ msg }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </p>

  <main>
    <div class="grid">

      {% for v in veiculos %}
      <div class="carro">
          <!-- IMAGEM DO VEÍCULO VINDO DO BANCO -->
          <img src="{{ url_for('foto_veiculo', id_veiculo=v.id_veiculo) }}" alt="{{ v.marca }} {{ v.modelo }}">

          <h3>{{ v.marca }} {{ v.modelo }}</h3>

          <p>R$ {{ "%.2f"|format(v.valor_diario) }}/dia</p>

          <a href="{{ url_for('reserva', id_veiculo=v.id_veiculo) }}" class="btn-reservar">
            Reservar
          </a>
      </div>
      {% endfor %}

    </div>
  </main>
</body>
</html>
