<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - NextDrive</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <header>
    <img src="img/imglogo.png" alt="Logo da Locadora" class="logo">
    <h1>Locadora de Veículos NextDrive</h1>
  </header>

  <main>
    <h2>Entrar</h2>
    <form>
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" required>

      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" required>

      <button type="submit">Entrar</button>
    </form>

    <p>Ainda não tem conta? <a href="/cadastro">Cadastre-se</a></p>
  </main>

  <footer>
    <p>&copy; 2025 Locadora de Veículos</p>
  </footer>
</body>
</html>
