<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Política de Privacidade</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/privacidade.css') }}">
</head>
<body>
  <header>
    <img src="img/imglogo.png" class="logo" alt="Logo">
    <h1>Privacidade</h1>
  </header>

  <main>
    <h2>Nossa Política de Privacidade</h2>
    <p>Explicamos aqui como tratamos seus dados pessoais.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <a href="/home">Voltar</a>
  </main>
</body>
</html>
