<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperar Senha</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/recuperarsenha.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='img/imglogo.png') }}" class="logo" alt="Logo">
    <h1>Recuperar Senha</h1>
  </header>

  <main>
    <form>
      <input type="email" placeholder="Digite seu e-mail">
      <button type="submit">Enviar link de recuperação</button>
    </form>
  </main>
</body>
</html>
