<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes do Veículo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/veiculo.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='img/imglogo.png') }}" class="logo" alt="Logo">
    <h1>Veículo</h1>
  </header>

  <main>
    <img src="img/cars/car1.jpg" class="carro" alt="Veículo">
    <h2>Hatch Compacto</h2>
    <p>R$ 99/dia</p>
    <p>Ar-condicionado, 5 lugares, automático.</p>
    <a href="/reserva">Reservar</a>
  </main>
</body>
</html>
